
.hotelCard{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 650px;
    
}

.hotelCardLeft{
    height: 650px;
}
.hotelCardRight{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001a0e;
}

.hotelCardImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hotelCardInformation{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.hotelHeader{
    text-align: center;
    margin-bottom: 1rem;
}

.hotelBlurb{
    width: 80%;
}

.hotelName{

    font-size: 2.5rem;

}

.hotelCardText{
    color: hsl(157, 18%, 85%);
}

.websiteButton{
    text-align: center;
    background-color: #00816D;
    padding: 0.5rem;
    width: 50%;
    border-radius: 1rem;
    color: white;
}

.websiteButton:hover {
    color: rgb(233, 232, 232);
}

.additionalHotelCard{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
.additionalHotelImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;   
    z-index: 1;
}

.additionalHotelInfo{
    position: absolute; 
    

    top: 0;            
    left: 0;
    height: 100%;
    width: 100%;    
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    justify-content: center;
    align-items: center;
    z-index: 2;       
    
    color: white;
    background: hsl(154, 100%, 5%, 60%); /* optional: readability */
}

.secondaryButton{

    border: 1px white solid;
    background:none;
}

.additionalHotelInfoTop{
    display: flex;
    justify-content: center;
    align-items: end;
    height:250px;
    position: relative
}

.additionalHotelInfoBottom{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    justify-content: start;
}

.additionalHotelName{
    position: absolute;
    bottom: 0;
    padding: 0;
}