.toast-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
}

/* Base */
.toast {
  display: grid;
  grid-template-columns: 6px 48px 1fr auto;
  align-items: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  /* min-width: 320px;
  max-width: 500px; */
  overflow: hidden;

  will-change: transform, opacity;
}

/* Enter: slide in from right */
.toast--enter {
  animation: toastIn 800ms ease-out both;
}

/* Leave: slide out to right */
.toast--leaving {
  animation: toastOut 800ms ease-in both;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(-64px);
  }
}

@keyframes toastOut {
  from {
    opacity: 1;
    transform: translateY(-64px);
  }
  to {
    opacity: 0;
    transform: translateY(32px);
  }
}

.toast-accent {
  height: 100%;
}

.toast-icon {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-content {
  padding: 16px 8px;
}

.toast-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}

.toast-message {
  font-size: 14px;
  color: #444;
}

.toast-close {
  border: none;
  background: transparent;
  font-size: 20px;
  padding: 0 16px;
  cursor: pointer;
  color: #999;
}

.toast-close:hover {
  color: #333;
}
