.toast-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  z-index: 9999;
  width: 100%;
}

/* Base */
.toast {
  width: fit-content;
  height: var(--space-lg);
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  padding: 0 var(--space-md);

  border-radius: var(--space-xs);
  background-color: var(--light2);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: white;

  vertical-align: center;
  align-items: center;

  will-change: transform, opacity;
}

/* Enter: slide in from right */
.toast--enter {
  animation: toastIn 800ms ease-out both;
}

/* Leave: slide out to right */
.toast--leaving {
  animation: toastOut 800ms ease-in both;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(-32px);
  }
}

@keyframes toastOut {
  from {
    opacity: 1;
    transform: translateY(-32px);
  }
  to {
    opacity: 0;
    transform: translateY(32px);
  }
}

.toast-accent {
  height: 100%;
}

.toast-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 999px;
  height: var(--space-md);
  width: var(--space-md);
}


.toast-message {
  font-size: calc(var(--space-sm)*1.2);
  color: white;
    line-height: var(--space-lg);
}
