.homeBody{
    display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;   /* fill full screen height */
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.hero{
    position: relative;
    background-image: url("../../assets/northern-lights-enhanced-bw.webp");
    background-repeat: no-repeat;
    background-position: 40% 30%;
    background-size: 190%;
    height:90vh;
    border-radius: 0 0 var(--space-md) var(--space-md);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--space-lg);
}

.heroColour{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--dark1);
    opacity: 40%;
    border-radius: 0 0 var(--space-md) var(--space-md);
}

.namesWrapper{
    display: flex;
    gap: var(--space-md);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 999;
}

.namesSection{
    display: flex;
    gap: var(--space-sm);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.names{
    color: white;
}

.heroDetails{
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.heroDetail{
    color: white;
}

.heroButtons{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    z-index: 999;
}

.heroButton{
    border-radius: var(--space-sm);
    width: var(--space-xl);
    height: var(--space-lg);
}

.heroSecondary{
    cursor: pointer;
    background-color: var(--dark2);
    color: var(--light1);
}
.heroPrimary{
    border: 1px var(--dark2) solid;
    
    background-color: var(--light1);
    color: var(--dark2);
}

