
h3{
    text-align: justify;
}
.namesAnd {
    font-family: "Fuggles", cursive;
    font-weight: 400;
    font-size: 1.875rem; /* ~30px */
    align-self: center;
}



.nhmImage {
    width: 90%;
    border-radius: 1rem; /* ~16px */
}

.hotelCardSection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.addtionalHotelCards{
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 850px) {
  .miniCards {
    flex-direction: column;
  }
}