
h3{
    text-align: justify;
}



.nhmImage {
    width: 90%;
    border-radius: 1rem; /* ~16px */
}

.hotelCardSection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.addtionalHotelCards{
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 850px) {
  .miniCards {
    flex-direction: column;
  }
}