.sectionHeader{
    font-size: 1.5rem;
    border-top: #283B34 2px solid;
    border-left: #283B34 1rem solid ;
    text-align: justify;
    padding: 0.2rem;
    padding-left:0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}