
h3{
    text-align: justify;
}



.nhmImage {
    width: 90%;
    border-radius: 1rem; /* ~16px */
}

.hotelCardSection{
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
  margin-bottom: var(--space-md);
}

.addtionalHotelCards{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

@media (max-width: 850px) {
  .miniCards {
    flex-direction: column;
  }
}