
h3{
    text-align: justify;
}

  .hotels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-md);
  }

.nhmImage {
    width: 90%;
    border-radius: 1rem; /* ~16px */
}

.hotelCardSection{
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
  margin-bottom: var(--space-md);
}

.additionalHotelCards{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

@media (min-width: 768px) {

  .hotels{
    width: 80vw;
  }

  .hotels-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }


  .hotelCardSection{
    flex-direction: row;
  }

  .additionalHotelCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: var(--space-md);
}

}