

.RSVPHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md)
}

.headerText{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}


.answer_list{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 100%;
}

.rsvp-select-guest{
     display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}


@media (min-width: 768px){
    .answer_list{
    
    width: 50vw;
}

.rsvp-step{
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.rsvp-select-guest{
     width: 50vw;
}


.select-guest-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


}



.answer{
    cursor: pointer;
    height: var(--space-xl);
    border-radius: var(--space-sm);
box-sizing: border-box;
    font-size: var(--text-base);
  color: var(--dark2);
  margin: 0;
  letter-spacing: 1px;
  width: 100%;

}

.guest_select{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--space-md);
}


.multiline{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer-sublabel{
    font-size: var(--text-sm)
}

.answer.multiline {
  align-items: center;
  text-align: center; 
}

.guest_name{
     
    width: 100%;
}

.selected{
    background-color: var(--dark2);
    color: var(--light1);
}

.unselected{
    background-color: var(--light2);
}

.guest_button{
    display: flex;
    justify-content: center;
    height: 30px;
    width:  30px;
    border-radius: 100%;
    background-color: var(--light1);
    padding: 8px;
    box-sizing: border-box;
}

.guest_symbol{
    height: 100%;
    width: 100%;
}

.rsvp-step-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-md);
}

.rsvp-button{
    border-radius: var(--space-sm);
    width: var(--space-xl);
    height: var(--space-lg);
}

.primary-button{
    cursor: pointer;
    background-color: var(--dark2);
    color: var(--light1);
}
.secondary-button{
    border: 1px var(--dark2) solid;
    
    background-color: var(--light1);
    color: var(--dark2);
}


.rsvp-button:disabled {
  background: #e5e5e5;
  color: #9b9b9b;
  border-color: #cfcfcf;
  cursor: not-allowed;
  opacity: 0.7;
}

.diet-other-textarea{
    height: var(--space-xl);
    border-radius: var(--space-sm);
    margin: 0;
    letter-spacing: 1px;
    padding: var(--space-sm);
    border: var(--grey1) 1px solid;
    color: var(--dark2);
}    

.single-line-input {
  width: 100%;
  padding: var(--space-sm);
  border: 1px solid var(--grey1);
  border-radius: var(--space-sm);
  font-size: var(--text-base);
  color: var(--dark2);
  box-sizing: border-box;
}

.single-line-inputt:focus {
  outline: var(--dark2) 2px solid;
}

::placeholder{
    color: var(--grey1)
}

:focus{
     outline: var(--dark2) 2px solid;
}

.summary-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light2);
    height: var(--space-xl);
    align-items: center;
        padding: var(--space-sm);
}

.summary-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
    min-width: 0;
}
.summary-label-key{
    display: inline-block;
    width: calc(var(--space-xl) + var(--space-lg));
    text-align: left !important;
}

.summary-value{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summary-edit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:var(--space-lg);
    width: var(--space-lg);
    background: none;

    background-color: var(--light1);
    padding: var(--space-xs);
    border-radius: 500px;
}

.edit_symbol{
    height: var(--space-md);
}