.RSVPMain{
    display: flex;
    flex-direction: column;
    gap: var(--space-md)
}


.RSVPHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md)
}

.headerText{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}


.guest_list{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}
.guest{
    height: var(--space-xl);
    border-radius: var(--space-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--space-md);   
}

.guest_name{
     
    width: 100%;
}

.complete{
    background-color: var(--dark2);
    color: var(--light1);
}

.incomplete{
    background-color: var(--light2);
}

.guest_button{
    display: flex;
    justify-content: center;
    height: 30px;
    width:  30px;
    border-radius: 100%;
    background-color: var(--light1);
    padding: 8px;
    box-sizing: border-box;
}

.guest_symbol{
    height: 100%;
    width: 100%;
}