@font-face {
  font-family: "Fuggles";
  src: url("/fonts/Fuggles-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sorts Mill Goudy";
  src: url("/fonts/SortsMillGoudy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sorts Mill Goudy";
  src: url("/fonts/SortsMillGoudy-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family:'Sorts Mill Goudy', Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  background-color: #ffffff ;

  --brand1: #001A0E;
  --brand2: #001A0E;

  --light1: #FFFFFF;
  --light2: #F4FAF8;
  --light3: #DEEDE6;

  --dark1:#173627;
  --dark2: #2D5341;
  --dark3: #476B5B;

  --grey1: #818181;

      --base-font-size: 1rem;
    --scale-ratio: 1.25;
    
    /* Typography scale */
    --text-xs: calc(var(--base-font-size) / var(--scale-ratio) / var(--scale-ratio));
    --text-sm: calc(var(--base-font-size) / var(--scale-ratio));
    --text-base: var(--base-font-size);
    --text-lg: calc(var(--base-font-size) * var(--scale-ratio));
    --text-xl: calc(var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio));
    
    /* Spacing scale */
    --space-xs: 0.3125rem;
    --space-sm: 0.625rem;
    --space-md: 1.25rem;
    --space-lg: 2.5rem;
    --space-xl: 5rem;

    position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}



h1{
  font-size: var(--text-xl);
  color: var(--dark1);
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h2{
  font-size: var(--text-lg);
  color: var(--dark2);
    text-transform: uppercase;
    margin: 0;
}

h3{
  font-size: var(--text-md);
  color: var(--dark2);
    text-transform: uppercase;
    margin: 0;
}

p{
  font-size: var(--text-base);
  color: var(--dark2);
  margin: 0;
  letter-spacing: 1px;
  text-align: justify;
}


button{
  font-family:'Sorts Mill Goudy', Arial, sans-serif;
  font-weight: 400;
  border: none;
}

.mainBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  min-height: 100vh;   /* fill full screen height */
  height: fit-content;
  box-sizing: border-box;
  padding: var(--space-xl) var(--space-md);
  margin: 0;
  gap: var(--space-lg);
  position: relative;
  margin-bottom: var(--space-md);
}