.loginBox{
    position: absolute;

    display: flex;
    flex-direction: row;
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    box-shadow: hsla(158, 19%, 19%, 0.2) 0px 8px 24px;
    border-radius: 10px;
    height:60%;
    border-radius: 1rem;
}

.leftContent{
    width: 100%;
    height: 100%;
}

  .namesSectionLogin {
    flex-direction: column;
    gap: 0.2rem;

  }

.rightContent{
    width: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-sizing: border-box;
}

.heroImage{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

}

.loginInput{
    width: 100%;
    padding: 0.5rem;
}

.loginButton{
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #283B34;
    color: white;
}

.inputGroup{
    text-align: start;
    width: 100%;
}

.additionalInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


