

    .FAQ-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;

    }

.faqTextBlock{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.faq_list{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 100%;
}




.faq{
    cursor: pointer;
    height: var(--space-lg);
    border-radius: var(--space-sm);
    box-sizing: border-box;
    font-size: var(--text-base);
    background-color: var(--dark2);
    color: white;
    margin: 0;
    width: 100%;

    display: flex;
    align-items: center;
    padding: var(--space-md);

}

.faqQuestion{
      color: white;
}

@media (min-width: 768px) {

    .FAQ-body{
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    width: 60vw;

}


    .faq-accordion-wrapper{
        width: 40vw;
    }

}