.faqTextBlock{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.faq_list{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 100%;
}

.faq_icon{
    fill: var(--dark2);
}


.faq{
    cursor: pointer;
    height: var(--space-lg);
    border-radius: var(--space-sm);
    box-sizing: border-box;
    font-size: var(--text-base);
    background-color: var(--dark2);
    color: white;
    margin: 0;
    width: 100%;

    display: flex;
    align-items: center;
    padding: var(--space-md);

}

.faqQuestion{
      color: white;
}
