.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  font-size: var(--text-sm);
}

/* item styles */
.item {
  border-radius: var(--space-sm);
  overflow: hidden;
}

/* clickable question bar */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: calc(var(--space-sm)*1.5);
  background: var(--dark2);
  color: var(--light1);

  border: none;
  cursor: pointer;
  text-align: left;
}

.question {
  font-size: var(--text-sm);
}

.faq_answer{
 font-size: var(--text-sm);
}

.icon {
  width: var(--space-md);
  height: var(--space-md);
  border-radius: 999px;
  background: var(--light1);
  color: var(--dark1);

  display: grid;
  place-items: center;
  align-items: center;
  justify-items: center;
  vertical-align: center;
  font-size: var(--space-sm);
  flex: 0 0 auto;
  position: relative;
}

.faq_icon{
fill: var(--dark2);
  width: 1px;
  height: var(--space-sm);
}

.panel {
  background: var(--light2);
  overflow: hidden;
  max-height: 0px;
  transition: max-height 260ms ease;
}

.panelInner {
  padding: var(--space-md);
  color: var(--dark2);
  
}

.panelInner p {
    font-size: var(--text-sm);
  margin: 0 0 var(--space-sm) 0;
  letter-spacing: 1px;
}

.panelInner p:last-child {
  margin-bottom: 0;
}


